@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 10px 50px;
  font-family: "Poppins", sans-serif;
  background-color: #f4f9f9;
  color: #476072;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccf2f4;
  border-radius: 15px;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 50px;
}

nav ul li a {
  text-decoration: none;
}

main {
  margin: 30px 0;
}

nav:hover {
  color: red;
}

#about-container {
  height: 200px;
  background-color: #ccf2f4;
  border-radius: 15px;
  padding: 10px;
}

#footer {
  height: 25px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ccf2f4;
  text-align: center;
  border-radius: 15px;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 10px;
  background-color: #ccf2f4;
  border-radius: 15px;
}

#hero-greeting h1 {
  margin-bottom: 15px;
}

#hero-greeting p {
  margin-bottom: 10px;
}

#hero-button button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #f4f9f9;
}

#hero-button button:hover {
  background-color: #a4ebf3;
  font-family: "Poppins", sans-serif;
}

#hero-button a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

#skills-container {
  height: auto;
  background-color: #ccf2f4;
  border-radius: 15px;
  padding: 10px;
}

:root {
  --background-dark: #2d3548;
  --text-light: #f4f9f9;
  --text-lighter: #f4f9f9;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.hero-section {
  align-items: flex-start;

  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

#contact-container {
  height: auto;
  background-color: #ccf2f4;
  border-radius: 15px;
  padding: 10px;
}

.social-container {
  margin: 0 auto;
  padding: 40px 0;
  width: 200px;
  height: 100%;
}

/* Add this ID to a section or something you want to change the background-color */
#social-section {
  padding: 60px 0;
}

/* Button Styles */
.social-container a {
  display: block;
  width: 200px;
  line-height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
  margin: 20px 0;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
}

.social-container a i {
  margin-right: 0px;
}

.social-container a:hover {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
}
